* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
  cursor: default;
}

body {
  font-family: "Yekan", tahoma, sans-serif;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-template-rows: 6rem calc(90vh - 6rem) 40vh auto;
  grid-gap: 2px;
  background-color: $color-tertiary;
  padding: 2rem;

  // min-height: 100vh;
  // border: 2rem solid $color-tertiary;
}
